

<h1>Members Only!</h1>

<div>
<%  @posts.each do |post| %>
    <div class="container">
       
        <% if user_signed_in? %>
            <h4>Author: <%= post.user.username %></h4>
        <% end %>
        <p><%= post.body %></p>
    </div>

<% end %>
</div>